.btn {
    font-size: 14px;
    opacity: 1;
    transition: opacity .3s;
    &:hover {
        opacity: 0.89;
    }
    &-tel {
        font-size: 24px;
        font-weight: 700;
        padding: 10px 15px;
        i {
            margin-right: 7px;
        }
        @include media('<desktop') {
            font-size: 18px;
            padding: 5px 10px;
        }
    }
    &-primary {
        padding: 15px 30px;
        text-transform: uppercase;
        max-width: 225px;
        letter-spacing: -0.3px;
        display: flex;
        justify-content: space-between;
         @include media('<desktop') {
        	padding: 8px 15px;
        	min-width: 190px;
         
         }
        		
        &:hover {
            background-color: $red;
        }
    }
}
