.contact-banner {
	height: 380px;
	padding: 153px 0 0 0;
	background-size: cover;
	background-position: 50% 50%;
}
.banner-title {
	h1 {
		letter-spacing: 3px;
        color: $white;
        text-transform: uppercase;
        line-height: 1.2;
	}
}
