.contact-banner {
	height: 380px;
	background-size: cover;
	background-position: 50% 50%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	 @include media('<tablet') {
		height: 300px;
	 
	 }
			
}
.banner-title {
	h1 {
		letter-spacing: 3px;
        color: $white;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 0;
	}
}

