.partners {
    @extend %listreset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px 0;
    align-items: stretch;
    flex-wrap: wrap;
    li {
        position: relative;
        width: 20%;
        padding: 0;
        text-align: center;
        display: flex;
        align-items: center;
		justify-content: center;
        min-height: 100%;
        @include media('<tablet') {
            width: 33.332%;
            margin-bottom: 30px;

        }
         @include media('<phone') {
        	width: 50%;
         
         }
        		
        &:after {
            position: absolute;
            content: '';
            position: absolute;
            right: 0;
            top: 18px;
            bottom: 18px;
            width: 1px;
            height: auto;
            background-color: #f3f3f3;
             @include media('<tablet') {
            	display: none;
             
             }
            		
        }
        &:first-child {
            @include media('>=tablet') {
                justify-content: flex-start;
            }
        }
        &:last-child {
            @include media('>=tablet') {
                justify-content: flex-end;
            }
            &:after {
                display: none;
            }
        }
        a {
            opacity: 1;
            transition: opacity .3s;
            &:hover {
                opacity: .85;
            }
        }
        img {
            @include media('<widescreen') {
                width: 80%;
                margin: 0 auto;

            }
     
            		 @include media('<tablet') {
            			width: 100%;
            		 
            		 }
            				
        }
        
        		
    }
}
